@import "tailwindcss";

@theme {
  --color-primary: oklch(72.79% 0.1357 0);
}

:root {
  color-scheme: dark light;
}

html {
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

/* Estilos del componente Selector */
.selector-check-bg:has(>:checked) > label {
  @apply bg-primary;
}