---
import Layout from '@/layouts/Layout.astro'
import Questions from '@/functional-components/Questions'
import ErrorDialog from '@f-components/ErrorDialog'
import ListOfMuseums from '@f-components/ListOfMuseums'
---

<Layout>
  <ErrorDialog client:load />
  <div class="relative px-0.5 m-auto md:flex md:items-start md:max-w-300">
    <Questions client:load />
    <ListOfMuseums client:only />
  </div>
</Layout>