---
import ListOfMuseums from '@f-components/ListOfMuseums'
import Layout from '@/layouts/Layout.astro'
import ErrorDialog from '@f-components/ErrorDialog'
import Form from '@f-components/Form'
import FloatButton from '@/components/FloatButton.astro'
---

<Layout>
	<ErrorDialog client:load />
	<FloatButton />
	<div class="px-0.5 m-auto md:flex md:items-start md:max-w-300">
		<Form client:load />
		<ListOfMuseums client:only />
	</div>
</Layout>
