---
import Github from "@/assets/icons/github.astro"
---

<footer class="flex justify-center bg-primary-300 text-white p-3 md:p-6 lg:p-10">
  <div class="flex justify-between w-full lg:max-w-300">
    <div>
      <p>&copy; 2025 Museo Personal. Todos los derechos reservados.</p>
    </div>
    <div class="flex items-center">
      <a
      href="https://github.com/CarlosGunter/busqueda-museos"
      class="text-white transition-colors duration-300 min-w-8"
      >
        <Github />
      </a>
    </div>
  </div>
</footer>