---
import '@styles/global.css';
import background from '@assets/background.svg';
import Cover from '@/components/Cover.astro';
import cover from '@assets/cover.webp';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Museos CDMX</title>
	</head>
	<body class="scheme-dark">
		<!-- <img
			class="fixed top-0 left-0 h-full -z-10 blur-2xl"
			id="background"
			src={background.src}
			alt=""
			fetchpriority="high"
		/> -->
		<Cover image={cover.src} title="Museos CDMX" />
		<slot />
	</body>
</html>

<style>
	
</style>
