---
import '@/styles/global.css';
import background from '@/assets/cover.webp';
import Cover from '@/components/Cover.astro';
import cover from '@/assets/cover.webp';
import Form from '@f-components/Form';
import FloatButton from '@/components/FloatButton.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Museos CDMX</title>
	</head>
	<body class="bg-bg-100 text-text-100">
		<!-- <img
			class="fixed top-0 left-0 h-full -z-10 object-cover w-full"
			id="background"
			src={background.src}
			alt=""
			fetchpriority="high"
		/> -->
		<FloatButton />
		<Cover image={cover.src} title="Museos CDMX" />
		<div class="px-0.5 m-auto md:flex md:content-center md:items-start md:max-w-6xl">
			<Form client:load />
			<slot />
		</div>
	</body>
</html>

